/* 
    Document   : style.css
    Created on : 5 oct. 2014, 12:11:45
    Author     : daltschu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

@viewport {
    orientation: portrait;
    width: device-width;
}

canvas {
    background: #484848;
    border: none;
    max-width: 100%;
    max-height: 100%;
}

